@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url('./images/background.png')
}

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pixellated {
  image-rendering: pixelated;
}

@layer components {
  .modal {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    -webkit-transition: 0.5s;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,.8);
    margin: auto;
    border: 1px solid #888;
    -webkit-transition: 0.5s;
    @apply border-[3px] rounded-lg border-pink bg-beige p-8
  }

  .button {
    /* Please style this better */
    -webkit-transition: 0.5s;
    @apply rounded-lg px-2 py-3 border-pink border-[3px] cursor-pointer hover:bg-olive hover:scale-105
  }

  .toggle-button {
    text-align: center;
    border: none;
    outline: none;
    background-color: #D16864;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    color: #FBF7E3;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    -webkit-transition: 0.5s;
    @apply hover:scale-105
  }

  .input {
    /* Please style this better */
    -webkit-transition: 0.5s;
    @apply border-pink border-[3px] text-center;
  }

  .footnote {
    font-size: 12px;
    line-height: 10px;
    @apply text-red text-left;
  }
  .footnote > a {
    font-size: 12px;
    @apply underline text-redlink font-semibold;
  }
  .footnote::before {
    content: ' * ';
  }

  .banner {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
    padding: 3px;
    text-align: center;
    color: white;
    @apply uppercase font-bold text-[25px] bg-pink px-2 py-2 rounded-xl mt-6
  }
  .banner:hover .bannertext {
    display: none;
  }
  .banner .buttontext {
    display: none
  }
  .banner:hover .buttontext {
    display: block;
  }

  .card {
    display: flex;
    -webkit-transition: 0.5s;
    @apply relative border-[3px] hover:bg-olive cursor-pointer flex-col items-center bg-beige border-pink rounded-xl;
  }

  .global-card {
    display: flex;
    -webkit-transition: 0.5s;
    @apply relative border-[3px] bg-silver flex-col items-center border-pink rounded-xl;
  }

  .blank-card {
    /* Please style this better */
    display: flex;
    -webkit-transition: 0.5s;
    pointer-events: none;
    @apply relative border-[3px] flex-col items-center bg-grey border-pink rounded-xl;
  }

  .cardtitle {
    @apply font-display uppercase text-red font-bold text-[25px]
  }

  .new {
    background: #FBF7E3;
    border-radius: 15px;
    padding: 5px;
    color: #CE5A59;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
    width: fit-content;
    margin-top: -15px;
    right: -10px;
    font-family: 'Amatic SC', cursive;
    -webkit-transition: 0.5s;
    line-height: 30px;
    position: absolute;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
    padding: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #F2BBA7;
    border-radius: 5px;
    -webkit-transition: 0.5s;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }

  .transparent-clip {
    -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
  }

}