@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.guideguide {
margin:auto;
text-align:center;
margin-top:-80px;
}
.guideicons {
background: #424A12 center center no-repeat;
background-size:110%;
display:inline-block;
height:100px;
max-height:200px;
width:125px;
border: 1px solid #FBF7E3;
border-radius:20px;
font-family: 'Amatic SC', cursive;
color:#FDF8E2!important;
font-size:35px;
text-transform:uppercase;
padding-top:50px;
padding-bottom:50px;
font-weight:bold;
text-align:center;
vertical-align:middle;
margin:5px;
line-height:40px;
box-shadow: 0px 3px 7px #424A12;
text-shadow: 0px 3px 7px #424A12;
-webkit-transition: 0.5s;
}
.guideicons:hover {
transform: scale(1.05, 1.05);
background-size: 120%;
text-shadow: 0px 3px 7px #FDF8E2;
}
.guidesmall {
background: #424A12 center center no-repeat;
background-size:110%;
display:inline-block;
height:50px;
max-height:500px;
width:200px;
border: 1px solid #FBF7E3;
border-radius:20px;
font-family: 'Amatic SC', cursive;
color:#FDF8E2!important;
font-size:35px;
text-transform:uppercase;
padding-top:20px;
padding-bottom:20px;
font-weight:bold;
text-align:center;
vertical-align:middle;
margin:auto;
margin:5px;
line-height:40px;
box-shadow: 0px 3px 7px #424A12;
text-shadow: 0px 3px 7px #424A12;
-webkit-transition: 0.5s;
}
.guidesmall:hover {
transform: scale(1.05, 1.05);
background-size: 110%;
text-shadow: 0px 3px 7px #FDF8E2;
}
.guide1 {
background:url(../assets/guide1.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide2 {
background:url(../assets/guide2.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide3 {
background:url(../assets/guide3.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide4 {
background:url(../assets/guide4.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide5 {
background:url(../assets/guide5.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide6 {
background:url(../assets/guide6.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide7 {
background:url(../assets/guide7.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide8 {
background:url(../assets/guide8.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide9 {
background:url(../assets/guide9.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide10 {
background:url(../assets/guide10.png) #424A12 center center no-repeat;
background-size:110%;
}
.guide11 {
background:url(../assets/guide11.png) #424A12 center center no-repeat;
background-size:100%;
}
.guide12 {
background:url(../assets/guide12.png) #424A12 center center no-repeat;
background-size:100%;
}
.guide13 {
background:url(../assets/guide13.png) #424A12 center center no-repeat;
background-size:100%;
}
.faqq {
font-weight:bold;
color: #CE5A59;
margin:5px;
}
.faqa {
font-style:italic;
margin-bottom:20px;
padding-left:25px;
}
.faqa::before {
content:'?';
margin-left:-20px;
padding-right:5px;
color: #B6B692;
}
.blurb2 {
background: #FBF7E3;
border-radius:50px;
padding: 15px 30px 15px 40px;
width:80%;
margin:auto;
margin-top:10px;
margin-bottom:10px;
font-style:italic;
letter-spacing:1.1px;
color: #92926D;
font-size:14px;
}
.guiderollover {
position:relative;
display:inline-block;
}
.guiderollover .guiderolled {
visibility:hidden;
opacity:0;
left:0;
right:0;
bottom:0;
position:absolute;
-webkit-transition:0.5s;
}
.guiderollover:hover .guiderolled {
visibility:visible;
opacity:1;
}
#deity {
width: 100%;
border-radius:0px!important;
}
.godrollover {
position:relative;
display:inline-table;
width:11.5%;
min-width:65px;
padding-right:2px;
}
.godrollover .godrolled {
visibility:hidden;
opacity:0;
left:0;
right:0;
bottom:0;
top:0;
background: rgba(29,24,11,0.75);
position:absolute;
-webkit-transition:0.5s;
padding-top:20px;
color: #92926D;
border-radius:10px;
text-align:center;
font-style:italic;
font-size:14px;
}
.godrollover:hover .godrolled {
visibility:visible;
opacity:1;
}
.deityname {
font-family: 'Amatic SC', cursive;
font-size:28px;
color: #FBF7E3;
font-weight:bold;
}
#guidebookverts {
float:left;
width: 23%;
min-width:150px;
margin-right:30px;
margin-bottom:10px;
}
.floatyguide {
display:inline-block;
padding:15px;
background: #FDF8E2;
border-radius:25px;
margin-auto;
margin:5px;
width:275px;
vertical-align:top;
}
#guidebookimg-shrink {
min-width:100px;
}
@media screen and (max-width:600px) {
#scs {
width:100%;
}
}
.eventarchive {
position:relative;
border:2px solid #FDF8E2;
border-radius:25px;
width:fit-content;
-webkit-transition:0.5s;
padding:5px;
padding-bottom:2px;
}
.eventarchive:hover {
transform:scale(1.025);
}